.card-img-top {
    width: 100%; 
    height: auto; 
}

.articleInfo {
    margin-bottom: 20px; 
}
.show {
    display: block;
}
.hidden {
    display: none;
}
.card-img-top {
    object-fit: cover;
    height: 200px;;
}


