<h1>Ajouter un nouvel article</h1>

<form (ngSubmit)="onSubmit()">
  <label>Titre</label>
  <input type="text" [formControl]="titleToAdd" required="required">
  <div *ngIf="titleToAdd.invalid && (titleToAdd.dirty || titleToAdd.touched)">
    <div *ngIf="titleToAdd.errors?.['required']">
      Titre obligatoire
    </div>
    <div *ngIf="titleToAdd.errors?.['minlength']">
      Le titre doit avoir un minimum de 4 caractères
    </div>
  </div>

  <br>

  <label>Prix</label>
  <input type="number" name="price" [(ngModel)]="priceToAdd" required #price="ngModel">
  <div *ngIf="price.invalid && (price.dirty || price.touched)">
    <div *ngIf="price.errors?.['required']">
      Prix obligatoire
    </div>
  </div>

  <br>

  <button class="btn btn-primary" type="submit" >Envoyer</button>
</form>
